In [117]:
import warnings
warnings.filterwarnings("ignore")

In [118]:
import pandas as pd
import numpy as np
from sklearn import datasets
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing

In [119]:
company_data=pd.read_csv("Company_Data.csv")

In [120]:
company_data

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [121]:
company_data

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [122]:
sales_val=[]
for value in company_data["Sales"]:
    if value<=9:
        sales_val.append("low")
    else:
        sales_val.append("high")
        
print(sales_val)

['high', 'high', 'high', 'low', 'low', 'high', 'low', 'high', 'low', 'low', 'high', 'high', 'low', 'high', 'high', 'low', 'low', 'high', 'high', 'low', 'low', 'high', 'low', 'low', 'high', 'high', 'low', 'low', 'low', 'low', 'high', 'low', 'low', 'low', 'low', 'high', 'low', 'low', 'low', 'low', 'low', 'low', 'high', 'low', 'low', 'low', 'high', 'low', 'low', 'high', 'low', 'low', 'low', 'low', 'low', 'low', 'high', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'high', 'high', 'low', 'high', 'low', 'low', 'high', 'low', 'low', 'high', 'low', 'low', 'high', 'low', 'low', 'high', 'low', 'low', 'low', 'low', 'high', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'high', 'low', 'high', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'high', 'low', 'low', 'low', 'low', 'low', 'low', 'high', 'low', 'low', 'low', 'high', 'high', 'low', 'low', 'low', 'low', 'low', 'high', 'low', 'low', 'low', 'low', 'low', 'high', 'high', 'low', 'low', 'low', 'low', 'high', 'low', 'low', 'high', 'low', 'high', 'high', 'high', 'low', 'low', 'low', 'low', 'low', 'high', 'high', 'high', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'high', 'low', 'high', 'high', 'low', 'low', 'low', 'low', 'high', 'high', 'low', 'low', 'low', 'low', 'low', 'high', 'high', 'low', 'low', 'low', 'high', 'low', 'low', 'low', 'high', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'high', 'high', 'low', 'low', 'low', 'low', 'low', 'high', 'high', 'high', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'high', 'low', 'low', 'high', 'low', 'high', 'low', 'high', 'high', 'low', 'low', 'high', 'high', 'low', 'low', 'low', 'high', 'low', 'low', 'low', 'low', 'high', 'low', 'low', 'low', 'high', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'high', 'low', 'low', 'low', 'high', 'low', 'high', 'high', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'high', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'high', 'low', 'high', 'high', 'high', 'low', 'low', 'low', 'high', 'high', 'low', 'low', 'low', 'high', 'high', 'low', 'low', 'low', 'high', 'high', 'high', 'low', 'low', 'high', 'low', 'low', 'high', 'low', 'high', 'low', 'low', 'low', 'high', 'high', 'low', 'high', 'low', 'low', 'low', 'high', 'low', 'high', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'high', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'high', 'high', 'low', 'high', 'high', 'high', 'low', 'low', 'low', 'high', 'low', 'low', 'low', 'low', 'low', 'high', 'high', 'low', 'low', 'high', 'high', 'high', 'low', 'high', 'low', 'low', 'high', 'low', 'high', 'low', 'low', 'low', 'high', 'low', 'low', 'high', 'high', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'high', 'low', 'low', 'low', 'high']

In [123]:
df2=pd.DataFrame(sales_val)

In [124]:
df3=pd.concat([df2,company_data],axis=1)
df3=df3.rename({0:'o/p'},axis=1)

In [125]:
df3=df3.rename({0:'o/p'},axis=1)

In [126]:
label_encoder = preprocessing.LabelEncoder()
company_data['ShelveLoc']= label_encoder.fit_transform(company_data['ShelveLoc'])
company_data['Urban']= label_encoder.fit_transform(company_data['Urban'])
company_data['US']= label_encoder.fit_transform(company_data['US'])
df3['o/p']= label_encoder.fit_transform(df3['o/p'])
df3

,o/p,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,0,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,0,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,1,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,1,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...,...
395,0,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,1,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,1,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,1,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,0,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [127]:
array=df3.values

In [148]:
x=array[:,2:10]
y=array[:,0]

In [164]:
num_trees=100
max_features=6
kfold=KFold(n_splits=10) #dataset divided into 10 sets for cross validation

In [165]:
#0.8 here states that 80 percent of samples are taken under consideration
model=RandomForestClassifier(n_estimators=num_trees,max_samples=0.8,max_features=max_features,random_state=8)

In [166]:
results= cross_val_score(model,x,y,cv=kfold) #cross validation tech used here.
print(results.mean()) #mean of the kfold number (10) of results

ValueError:
All the 10 fits failed.
It is very likely that your model is misconfigured.
You can try to debug the error by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\abc\AppData\Roaming\Python\Python39\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\abc\AppData\Roaming\Python\Python39\site-packages\sklearn\ensemble\_forest.py", line 331, in fit
    X, y = self._validate_data(
  File "C:\Users\abc\AppData\Roaming\Python\Python39\site-packages\sklearn\base.py", line 596, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "C:\Users\abc\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\validation.py", line 1074, in check_X_y
    X = check_array(
  File "C:\Users\abc\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\validation.py", line 856, in check_array
    array = np.asarray(array, order=order, dtype=dtype)
ValueError: could not convert string to float: 'Bad'